.git
.github
.vscode
.venv
venv
__pycache__
*.egg-info
*.log
.env
.env.*
build
dist
logs
node_modules
state
docs
images
npm
docker-compose.dev.yml
docker-compose.toolkit.yml
manifest-dxt.json
package.json
Makefile
SECURITY.md
